.wrapper{
    width:380px;
    height:500px;
    border:2px solid yellow;
    padding-left:60px;
    font-size:30px;
    color:yellow;
    
}

#input{
     justify-items:center;
     padding:20px;
     border:0;
     border-radius:20px;
     font-size:18px;
     color:red;
}

#add{
    padding:15px;
    border-radius:20px;
    border:0;
    font-size:20px;
    ++
}

body{
    display:flex;
    justify-content:center;
    height:850px;
    align-items:center;
    background-color:brown;
}